.portfolio {
    padding: 4rem 2rem;
    background: #fefae0;
    gap: 2rem;
    text-align: center;
  }
  
  .portfolio h2 {
    color: #bc6c25;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .portfolio-gallery {
    padding: 2rem 1.8rem;
    background-image: url('https://img.freepik.com/free-photo/top-view-table-full-delicious-food-composition_23-2149141352.jpg?t=st=1718930284~exp=1718933884~hmac=ebe312873789fcf5b90cc708b033833bb44c5295666ae345b30bfc786c210aa6&w=740');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1.2rem;
    transition: 0.25s;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #FFF;
    margin: 2rem;
    position: relative;
    isolation: isolate;
}

.portfolio-gallery::after{
  content: "";
  position: absolute;
  background-color: rgba(46, 45, 45, 0.473);
  inset: 0;
  z-index: -1;
  border-radius: 1.2rem;

}

.portfolio-gallery2 {
  padding: 2rem 1.8rem;
  background-image: url('https://img.freepik.com/free-photo/stylish-scandinavian-living-room-with-design-mint-sofa-furnitures-mock-up-poster-map-plants-eleg_1258-152155.jpg?t=st=1718932692~exp=1718936292~hmac=a36dfc93ce899308028a425a1f0abb3014c0f451ab5b4dae867678b6e3689a80&w=900');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  object-fit: contain;
  border-radius: 1.2rem;
  transition: 0.25s;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #FFF;
  margin: 2rem;
  position: relative;
  isolation: isolate;
}
.portfolio-gallery2::after{
  content: "";
  position: absolute;
  background-color: rgba(46, 45, 45, 0.473);
  inset: 0;
  z-index: -1;
}
  header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--blue);
    margin-bottom: 3.6rem;
    .portfolio-item{
      display: flex;
      align-items: center;
      gap: 9rem;
    }
    a > img {
      width: 2.6rem;
      color: white;
    }
  }
  
  /* .portfolio-item {
    background: white;
    padding: 1rem;
    width: calc(50% - 1rem);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .portfolio-item:hover {
    transform: scale(1.05);
  } */

  h3{
    margin-bottom: 2rem;
  }

  p{
    letter-spacing: 0.12rem;
    margin-bottom: 2rem;
  }

  footer{
    margin-top: auto;
    .tech-list{
      color: #fffdfd;
      font-weight: bold;
      display: flex;
      align-items: center;
      gap: 2rem;
      font-size: 1rem;
      opacity: 0.6;
    }
    ul li{
      list-style: none;
      color: white;
      background: #000;
    }
  }
  
  @media (max-width: 768px) {
    .portfolio-item {
      width: calc(100% - 1rem);
    }
  }